input#id(type='hidden', name='id', value=comment.id)

.form-group
    label(for='authorName') Author name
    input#authorName.form-control(type='text', name='authorName', value=comment.authorName)
.form-group
    label(for='text') Text
    textarea#text.form-control(name='text') #{comment.text}

input#questionId(type="hidden", name="questionId", value=questionId)

button.btn.btn-success(type='submit') Save