extends ../layout

block content
    h2 Question ##{question.id}
    include _card

    h2 Answers
    each answer in answers
        include ../answer/_card
    a.btn.btn-primary.ml-5(href="/answer/new?questionId=#{question.id}") New answer
