form.form-inline(action="/user/login" method="post")
    input.form-control(type="text" placeholder="Login" name="login")
    input.form-control(type="password" placeholder="Password" name="password")
    button.btn.btn-primary(type="submit") Sign in

    a.btn.btn-success(href="/user/new") Sign up
